@tailwind base;
@tailwind components;
@tailwind utilities;





/**
*HEADER
*/
.bg-header {
    background-color: #0a314a;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header ul li a,
.header ul li button {
    font-size: 17px !important;
    text-transform: uppercase !important;
}

/**
*BANNER
*/
.banner-video{
    position: absolute;
    object-fit: cover;
    object-position: left top;
    width: 100%;
    min-height: 500px;
    height: 80%;
    top: 120px;
    left: 0px;
    z-index: -1;
}


/**
*FOOTER
*/
.bg-footer {
    background-color: #0a314a;
}